:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
}

#root {
  height: 100%;
  min-height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input[type='checkbox'] {
  align-content: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #9e9e9e;
  border-radius: 0;
  cursor: pointer;
  display: grid;
  height: 16px;
  justify-content: center;
  margin-top: 0.5px;
  min-width: 16px;
  place-content: center;
  position: relative;
  width: 16px;
}

input[type='checkbox']:before {
  box-shadow: inset 8px 8px #646cff;
  content: '';
  height: 8px;
  transform: scale(0);
  width: 8px;
}

input[type='checkbox']:checked {
  border-color: #646cff !important;
}

input[type='checkbox']:checked:before {
  transform: scale(1) !important;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: #d97700;
  cursor: pointer;
  transition: border-color 0.25s;
  color: inherit;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn-error {
  background-color: #f66161;
}

.btn-success {
  background-color: #2ba241;
}

input[type='text'] {
  height: 40px;
  padding: 0 10px;
}

.container-center {
  max-width: 900px;
  padding: 15px;
  margin: 0 auto;
}
